.item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: grey 1px solid;
  padding:2%;

  input[type=text]{
    width: 80%;
  }

  .title{
    text-align: left;
    width: 100%;
    margin-left: 2%;
    color: #489CC1;
  }

  &:nth-child(2n + 1){
    background-color: lighten(#489CC1, 40%);

  }

  &:last-child{
    border-bottom: grey 1px solid;
  }

  .action{
    width: 7%;
    color: lighten(#489CC1, 40%);
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;

    img{
      width: 1vw;
      height: 1vw;
      &:hover{
        cursor: pointer;
      }
    }
  }
}